script(
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"
  )
script(src="https://use.fontawesome.com/d198cca0ab.js")
script(src="./assets/scripts/vendor/what-input.js")
script(src="./assets/scripts/vendor/foundation.js")
// script(src="./assets/scripts/vendor/scripts.min.js")
script(src="./assets/scripts/common.js")