meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title Останні новини України, новини дня TSN.ua
link(rel="shortcut icon" href="https://tsn.ua/favicon.ico")
link(rel="stylesheet" href="./assets/css/foundation.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css")
link(rel="stylesheet" href="./assets/css/base.css")
link(rel="stylesheet" href="./assets/css/main.css")