include ../../mixins.pug
.header__main-content
	.header__tabs.grid-y
		+tabs(5)
	.header__tab-content
		+tab__content('photo', '1.jpg', 'Внаслідок потужного вибуху підземної труби у Києві ушкоджені машини та будівлі', 'day', '2017-05-29', '29 травня, 2017', '14:05')
		+tab__content('photo', '2.jpg', 'Макрон пригрозив Путіну посиленням санкцій у разі ескалації на Донбасі', 'world', '2017-05-29', '29 травня, 2017', '19:00')
		+tab__content('photo', '3.jpg', 'В Україні курить чверть дорослих: як відмовитися від згубної звички яка вбиває понад 6 ...', 'ukraine', '2017-05-29', '29 травня, 2017', '12:47')
		+tab__content('photo', '4.jpg', 'В останній день весни Україну накриють потужні зливи з грозами та градом', 'ukraine', '2017-05-29', '29 травня, 2017', '12:11')
		+tab__content('photo', '5.jpg', 'Убитий на Позняках чоловік був виконувачем обов\'язків директора «Укрспирту»', 'ukraine', '2017-05-29', '29 травня, 2017', '12:11')