include ../../mixins.pug
nav.section__nav
	+categories-line('ukraine')
	+categories-line('politics')
	+categories-line('video')
	+categories-line('editions')
	+categories-line('blogs')
	+categories-line('sport')
	+categories-line('glamour')
	+categories-line('ladies')
	+categories-line('interesting')
	+categories-line('special')
	.section__additional-cats
		div(id="hamburger")
			span
			span
			span
		div(title='Читати всі новини з даного розділу' class= 'section__link add__link') Всі розділи